<div style="display: flex; justify-content:end; padding:20px">
    <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
            <path
                d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z" />
        </svg>
    </a>
</div>
<div id="container-cart" class="d-flex justify-content-center p-4">
</div>
{{#if doc.products}}
{{#each doc.products}}
<div class="container-fluid d-flex flex-column align-items-center">
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{_id.[0].name}}</h5>
            <p class="card-text">{{_id.[0].description}}</p>
            <h6 class="card-text">{{_id.[0].price}}</h6>
            <div class="d-flex justify-content-center align-items-center">
                <button type="button" class='btn btn-outline-dark mx-2'
                    onClick="deleteAProduct('{{_id.[0]._id}}', '{{quantity}}')">-</button>
                <h3 class='mb-2'>Cantidad {{quantity}}</h3>
                <button class='btn btn-outline-dark mx-2' onClick="addAProduct('{{_id.[0]._id}}')">+</button>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<div class="text-center mt-4">
    <h1>No hay productos en tu carrito</h1>
</div>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>