<div id="containerCarts" class="d-flex justify-content-center p-4">
</div>
{{#if doc.products}}
{{#each doc.products}}
<div class="container-fluid d-flex flex-column align-items-center">
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">'{{_id}}'</h5>
            <p class="card-text"></p>
            <h6 class="card-text"></h6>
            <div class="d-flex justify-content-center align-items-center">
                <button type="button" class='btn btn-outline-dark mx-2' onclick="deleteProduct('{{_id}}')">-</button>
                <h3 class='mb-2'>Cantidad {{quantity}}</h3>
                <button class='btn btn-outline-dark mx-2' onclick="addProduct('{{_id}}')">+</button>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<div class="text-center mt-4">
    <h1>No hay productos en tu carrito</h1>
</div>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>