<div id="container-cart" class="d-flex justify-content-center p-4">
    <p>hola</p>
</div>
{{#if productsFile}}
<div class="container-responses d-flex align-items-center">
    {{#each productsFile.payload}}
    <div class="card col-4" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text">stock: {{stock}}</p>
            <h6 class="card-text">${{price}}</h6>
            <button class="btn btn-lg btn-outline-primary" onclick="addProduct('{{_id}}')">Comprar</button>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>no tenemos productos</p>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>